<% #  this is the layout for the tic tac toe board  %>

<% for i in 0...9 do %>
	<div class="tac" id='<%= i %>' >
		<div class="toe"></div>
		<div class="x-second-half hide"></div>
	</div>
<% end %>

