<div class="store_points">
  <div class="container">
    
	<%= form_with url: tic_tac_toe_path, local: true do |form| %>
		<div class="field">
			<%= form.label :name %><br>
			<%= form.text_area :name %>
		</div>
		<div class="field">
			<%= form.label :points %><br>
			<%= form.text_area :points %>
		</div>
		<div class="actions">
			<%= form.submit "Create" %>
		</div>
	<% end %>

  </div>
</div>