<main>
	<h2>Welcome to Tic Tac Toe!</h2>
	<p>You will have more fun than Minecraft</p>
	<section>
		<%= render 'shared/board' %>
	</section>
	<section>
		<%= render 'shared/store_points' %>
	</section>
</main>
