// Place all the styles related to the TicTacToe controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body {
	padding: 8px;
}
header, main, footer {
	width: 1080px;
	margin: 0 auto;
}
main {
	// background-image: url('https://wallpapercave.com/wp/eGdSdq9.jpg');
}

.prize {
	background-color: #183b3c;
	color: white;
	padding: 20px;
	margin-top: 10px;
}

.points-container {
	background-color: #183b3c;
	border-radius: 3px;
	padding: 8px 15px;
	margin-bottom: 5px;
}

.points-container:first-of-type {
	margin-top: 10px;
}

.points-container p {
	color: white;
}

.points-container p span {
	font-weight: 700;
	margin-right: 10px;
}

// building tic tac toe board
// refactor to be in its own css file
.tac {
	background-color: #183b3c;
	border-radius: 5px;
	cursor: pointer;
	display: inline-block;
	margin: 5px;
	height: 140px;
	width: 32%;
}
.tac.clicked {
	cursor: initial;
}
.tac .circle {
	border: 8px solid #ffc700;
	border-radius: 50%;
	margin: 0 auto;
	height: 100px;
	width: 40%;
	position: relative;
	top: 12px;
}
.tac .x-first-half {
	background-color: #39cbdd;
	border: 8px solid #183b3c;
	border-radius: 1%;
	height: 8px;
	width: 60%;
	margin: 0 auto;
	transform: rotate(30deg);
	position: relative;
	top: 60px;
}
.tac .x-second-half {
	background-color: #39cbdd;
	height: 8px;
	width: 60%;
	margin: 0 auto;
	transform: rotate(148deg);
	position: relative;
	top: 40px;
}
.hide {
	display: none;
}