<!DOCTYPE html>
<html>
  <head>
    <title>TicTacToe</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
  </head>

	<body>
		<%= render 'shared/header' %>
		
		<%= yield %>
	
		<%= render 'shared/footer' %>
	</body>
	<% # needs to load last causes issues with javascript selectors %>
	<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</html>
